test.py

.idea
# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать файлы конфигурации
.env
.xlsx
# Игнорировать директорию с зависимостями
/node_modules/
/.env/

# Игнорировать все файлы внутри директории
/assets/*
